[submodule "js/deps/crypto-js"]
	path = js/deps/crypto-js
	url = https://github.com/tomyun/crypto-js.git
	branch = xeit-3.1.2
[submodule "js/deps/asn1js"]
	path = js/deps/asn1js
	url = https://github.com/tomyun/asn1js.git
[submodule "js/deps/srcdoc-polyfill"]
	path = js/deps/srcdoc-polyfill
	url = https://github.com/jugglinmike/srcdoc-polyfill.git
