/* Wrap */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

/* NavBar */

body > .navbar {
  font-size: 13px;
}

body > .navbar .brand {
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  color: #999;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

/* Footer */

#push, #footer {
  height: 60px;
}

#footer {
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

#footer .credit {
  margin: 20px 0;
}

/* Table */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Landscape phones */
@media (max-width: 480px) {
  #footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
